body {
    background-color: #222;
    color:#eee;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    padding-top: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem
}

h1 {
    font-size: 3rem;
}

h2{
    font-size: 1.5rem;
}


label {
    font-size: 2.2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem
}


input {
    font: inherit;
    background-color: black;
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem;
    border: 0.2rem solid #ec8e9e;
    color: #eee;
}

button {
    box-sizing: border-box;
    width: 10rem;
    height: 4rem;
    font:inherit;
    font-size: 2.0rem;
    background-color: #ec8e9e;
    border: 0.2rem solid white;
    cursor: pointer;
    transition: transform 150ms ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

ol{
    border: 0.4rem solid #333;
}

li {
    list-style-type: none;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    text-align: center;
}

li:nth-child(even){
    background-color: #333;
}
